<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navi(activeTab)">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/product/all}">Coffe</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${activeTab == 'ProductList' ? 'active' : ''}" aria-current="page" th:href="@{/product/all}">Список продуктов</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${activeTab == 'ProductForm' ? 'active' : ''}" th:href="@{/product}">Добавить продукт</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${activeTab == 'CartList' ? 'active' : ''}" aria-current="page" th:href="@{/cart/all}">Корзина</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${activeTab == 'ShopList' ? 'active' : ''}" aria-current="page" th:href="@{/shop/all}">Магазин</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${activeTab == 'UserList' ? 'active' : ''}" aria-current="page" th:href="@{/user/all}">Пользователи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${activeTab == 'LogList' ? 'active' : ''}" aria-current="page" th:href="@{/api/v1/logentries/all}">Показатели</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>